#carouselExampleIndicators .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 100vh;
}

#system {
    margin-right: 2cm;
}

nav .nav-link:hover {
    background: white;
}

footer .active:hover {
    background: black;
    width: 6cm;
    height: 3cm;
}

